*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    
}
/*barra de navegacion*/
.nav{
    background-color: #2f558e;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    padding: 5px;
    font-family: 'Kanit', sans-serif;
    border-bottom: 2px solid black;
}
.header .logo {
    width: 60px;
    height: 60px;
    grid-column: 1/2;
    border-radius: 50%;
    position: relative;
}
.nav .lista{
    grid-column: 3/6;
    display: flex;
    justify-content: space-around;
}
.nav .lista li{
    list-style: none;
}
.nav .lista a{
    text-decoration: none;
    color: black;
    transition: all 300ms;
}
.nav .lista li a:hover{
    transform: scale(1.20);
    color: #ffffff;
}
.logo{
    animation-name: animacionlogo;
    animation-duration: 2s;
}
@keyframes animacionlogo {
    0%{left:-100px;top:0px}
    100%{left:0px;top:0px}
}
/*barra de navegacion mobile*/
@media screen and (max-width:800px){
    .nav .lista{
        grid-column: 3/6;
        display: flex;
        justify-content: space-around;
        font-size: 13px;
    }
    .nav .lista li{
        margin-left: 10px;
        margin-right: 10px;
    }

    
}
/* principal*/
/*index*/
.princ{
    background-image: url(../assets/img/fondodepag.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.princ .imagen_1{
    border-radius: 20px;
    margin: 40px;
}
.princ .textoaa{
    font-family: 'Kanit', sans-serif;
    text-align: center;
    font-size: 50px;
    color: #ffffff;

}
.princ .textoab{
    font-family: 'Kanit', sans-serif;
    text-align: center;
    font-size: 72px;
    color: #ffffff;
/*index mobile*/
@media screen and (max-width:800px){
    .princ{
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        width: 100%;
        height: 40%;
        background-color: rgb(255, 255, 255);
        background-image: url(../assets/img/fondodepag.jpg);
        height: 100vh;
        background-position: center;
        background-size: cover;

    }
    }
    .princ .textoa{
        font-family: 'Kanit', sans-serif;
        font-size: 25px;
        color: #ec1313;
    }
/*categorias de autos*/
.contenedor-img{
    width: 100%;
    max-width: 100%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;
}
.contenedor-img .box-img figure{
    width: 100%;
    height: 100%;
}
.contenedor-img .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contenedor-img .box-img:nth-child(1){
    grid-column-start: span 2;
}
.contenedor-img .box-img:nth-child(4){
    grid-row-start: span 2;
}
.foto-galeriaa{
    position: relative;
    overflow: hidden;
}
.foto-galeriaa::before{
    content: "Sedanes";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(0);
    background-color: #2f558e;
    color: #ffffff;
    opacity: 0.8;
    transition: transform .4s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-family: 'Kanit', sans-serif;
}
.foto-galeriaa:hover::before{
    transform: scale(1);
}
.foto-galeriab{
    position: relative;
    overflow: hidden;
}
.foto-galeriab::before{
    content: "Hatchbacks";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(0);
    background-color: #2f558e;
    opacity: 0.8;
    transition: transform .4s;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-family: 'Kanit', sans-serif;
}
.foto-galeriab:hover::before{
    transform: scale(1);
}
.foto-galeriac{
    position: relative;
    overflow: hidden;
}
.foto-galeriac::before{
    content: "Crossovers";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(0);
    background-color: #2f558e;
    color: #ffffff;
    opacity: 0.8;
    transition: transform .4s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-family: 'Kanit', sans-serif;
}
.foto-galeriac:hover::before{
    transform: scale(1);
}
.foto-galeriad{
    position: relative;
    overflow: hidden;
}
.foto-galeriad::before{
    content: "Hiperdeportivos";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(0);
    background-color: #2f558e;
    opacity: 0.8;
    color: #ffffff;
    transition: transform .4s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-family: 'Kanit', sans-serif;
}
.foto-galeriad:hover::before{
    transform: scale(1);
}
.foto-galeriae{
    position: relative;
    overflow: hidden;
}
.foto-galeriae::before{
    content: "Deportivos";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(0);
    background-color: #2f558e;
    opacity: 0.8;
    transition: transform .4s;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-family: 'Kanit', sans-serif;
}
.foto-galeriae:hover::before{
    transform: scale(1);
}
.foto-galeriaf{
    position: relative;
    overflow: hidden;
}
.foto-galeriaf::before{
    content: "SUVS";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(0);
    background-color: #2f558e;
    opacity: 0.8;
    transition: transform .4s;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-family: 'Kanit', sans-serif;
}
.foto-galeriaf:hover::before{
    transform: scale(1);
}
.foto-galeriag{
    position: relative;
    overflow: hidden;
}
.foto-galeriag::before{
    content: "Descapotables";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(0);
    background-color: #2f558e;
    color: #ffffff;
    opacity: 0.8;
    transition: transform .4s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-family: 'Kanit', sans-serif;
}
.foto-galeriag:hover::before{
    transform: scale(1);
}
/*categorias de auto mobile*/
@media screen and (max-width:800px){
    .contenedor-img{
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
    }
    .contenedor-img .box-img img{
        height: auto;
    }
}
/*contacto*/
.foto{
    position: relative;
    width: 100vw;
    height: 100vh;
}
.form{
    width: 340px;
    height: 440px;
    background: rgb(184, 199, 223);
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(50vh - 220px) auto;
    padding: 20px 30px;
    max-width: calc(100vw -40px);
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    position: relative;
}
.contacto{
    margin: 10px 0;
    padding-bottom: 10ox;
    width: 180px;
    color: rgb(107, 107, 107);
    border-bottom: 3px solid black;
}
.inputa{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Kanit', sans-serif;
    transition: all .3s;
    border-bottom: 2px solid rgb(107, 107, 107);
}
input:focus{
   border-bottom: 2px solid lightblue; 
}
p:before{
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 15px;
    color: rgb(107, 107, 107);
}
.boton{
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: 'Kanit', sans-serif;
    border: 2px solid rgb(107, 107, 107);
    background: 0;
    color: black;
    cursor: pointer;
    transition: all .3s;
    border-radius: 5px;
}
button:hover{
    background: rgb(107, 107, 107);
    color: white;
}
.span{
    position: absolute;
    bottom: -15px;
    right: -20px;
    background: black;
    color: white;
    width: 320px;
    padding: 16px 4px 16px 0;
    border-radius: 6px;
    font-size: 13px;
    box-shadow: 10px 10px 40px -14px #000;
}
span{
    margin: 0 5px 0 15px;
}
/*contacto mobile*/


/*nosotros*/
.nosotros{
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
}
.nosotros .mapa{
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
.nosotros .texton{
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    width: 300px;
    height: auto;
}
/*nosotros mobile*/
.nosotros .mapa{

}
/*noticias*/
.noticias{
    display: grid;
    grid-template-columns: repeat(1, 6fr);
}
.noticiaa{
    width: 800px;
    height: 600px;
    margin: 10px;
    border-radius: 8px;
}
/*noticias mobile*/
/*footer*/
.pie-pagina{
    width: 100%;
    background-color: #2f558e;
    font-family: 'Kanit', sans-serif;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
    border-radius: 50%;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #555555;
    text-align: center;
    transition: all 300ms ease;
    border-radius: 5px;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: #0066ff;
}
.pie-pagina .grupo-2{
    background-color: #2f558e;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}